{% extends "base.html" %}
{% block page_content %}
{% if validlink %}
<h1 class="text-xl py-8">Set a new password</h1>
<form action="" method="post">
  {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
  <div>
    <div class="py-2">
      <div>{{ field.label_tag }}</div>
      <div>{{ field }}</div>
    </div>
    <div class="text-danger">{{ field.errors }}</div>
  </div>
  {% endfor %}

  <input
    type="submit"
    value="Set new password"
    class="bg-primary text-white p-2 my-3"
  />
</form>
{% else %}
<h1 class="text-xl py-8">Invalid reset link</h1>
<p>This password reset link is invalid or has already been used. Please request a new one.</p>
<p class="py-2"><a href="{% url 'password_reset' %}">Request a new reset link</a></p>
{% endif %}
{% endblock page_content %}
