{% extends "base.html" %}
{% block page_content %}
<h1 class="text-xl py-8">Reset your password</h1>
<p>Enter the email address for your account and we will send you a link to set a new password.</p>
<form action="" method="post">
  {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
  <div>
    <div class="py-2">
      <div>{{ field.label_tag }}</div>
      <div>{{ field }}</div>
    </div>
    <div class="text-danger">{{ field.errors }}</div>
  </div>
  {% endfor %}

  <input
    type="submit"
    value="Send reset link"
    class="bg-primary text-white p-2 my-3"
  />
</form>
{% endblock page_content %}
