{% extends "base.html" %}
{% block page_content %}
<div class="page-card page-card-narrow">
  <h1 class="page-title">Change your password</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for field in form %}
    <div class="form-row">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}<div class="form-errors">{{ field.errors }}</div>{% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Change password" class="btn btn-primary my-3" />
  </form>
</div>
{% endblock page_content %}
