Title: {{ object.title }} <br>
Start: {{ object.getStartLocalizedStr }} <br>
End: {{ object.getEndLocalizedStr }} <br>
<br>
Creator : {{ object.getCreatorName }} <br>
Owner : {{ object.getOwnerName }} <br>
Approver : {{ object.getApproverName }} <br>
Date Created : {{ object.dateCreated|date }} <br>
Reason : {{ object.reason }} <br>
<br>
Location Name: {{ object.locationName }} <br>
Street Address: {{ object.streetAddress }} <br>
City: {{ object.city }} <br>
State: {{ object.state }} <br>
Zip: {{ object.zip }} <br>
Country : {{ object.country }} <br>
<br>
Description: {{ object.description }} <br>
Instructions: {{ object.instructions }} <br>
<br>