{% extends "base.html" %} {% block page_content %}
<p> Your event request could not be created due to the following RESOLVEABLE conflicts. <br>
    If you still want this event created go back to the new event form, re-enter the details, and check "Ignore Resolveable Conflicts"
</p>
<hr>
<p>
    <ul>
    {% for conflict in conflicts %}
    <li>
        {% if conflict.type == 0 %}
            Zoom  
            {%if conflict.zoomUser %} 
                ({{conflict.zoomUser}})
            {% endif %}
            :
        {% else %}
            Gcal: 
        {% endif %}
        {{ conflict.title }} - {{ conflict.start }} - {{ conflict.end }}
    </li>
    {% endfor %}
    </ul>
</p>
{% endblock page_content %}