{% extends "base.html" %} {% block page_content %}
<script>
  window.addEventListener("load", () => {
    document.querySelector('input[name="eventType"]').onchange = function(val)
    {
      if(val == "Virtual" || val == 1)
      {
        document.querySelector('input[name="locationName"]').style.display = "hide";
        document.querySelector('input[name="address"]').style.display = "hide";
        document.querySelector('input[name="city"]').style.display = "hide";
        document.querySelector('input[name="state"]').style.display = "hide";
        document.querySelector('input[name="country"]').style.display = "hide";
        document.querySelector('input[name="zipcode"]').style.display = "hide";
      }
      else
      {
        document.querySelector('input[name="locationName"]').style.display = "block";
        document.querySelector('input[name="address"]').style.display = "block";
        document.querySelector('input[name="city"]').style.display = "block";
        document.querySelector('input[name="state"]').style.display = "block";
        document.querySelector('input[name="country"]').style.display = "block";
        document.querySelector('input[name="zipcode"]').style.display = "block";
      }
    };
  });
</script>
<h1 class="text-xl py-8">Create an Event</h1>
<form
  action=""
  method="post"
>
  {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
  <div>
    <div class="py-2">
      <div>{{ field.label_tag }}</div>
      <div>{{ field }}</div>
    </div>
    <div class="text-danger">{{ field.errors }}</div>
  </div>
  {% endfor %}

  <input
    type="submit"
    name="submit-new-event"
    value="Submit"
    class="bg-primary text-white p-2 my-3"
  />
</form>
{% endblock page_content %}
