{% extends "base.html" %}
{% load navigation_tags %}
{% block breadcrumbs %}{% url 'request-access' as parentToolUrl %}{% breadcrumbs parentLabel="Request Access" parentUrl=parentToolUrl currentLabel="Submitted" %}{% endblock breadcrumbs %}
{% block page_content %}
<div class="page-card max-w-2xl">
  <h1 class="page-title">Request submitted</h1>
  <div class="alert alert-success">Your request for <b>{{ accessRequest.getTargetDescription }}</b> has been sent to the approvers. You will receive an email once it has been reviewed.</div>
  <p class="py-3">
    <a class="btn btn-primary" href="{% url 'access-request-list' %}">View your requests</a>
  </p>
</div>
{% endblock page_content %}
