{% extends "base.html" %}
{% block page_content %}
<h1 class="text-xl py-8">Request Access</h1>
<p>Ask to join a group or to be granted a permission. The people who can approve it will get an email with a link to review your request.</p>
<form action="" method="post">
  {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
  <div>
    <div class="py-2">
      <div>{{ field.label_tag }}</div>
      <div>{{ field }}</div>
    </div>
    <div class="text-danger">{{ field.errors }}</div>
  </div>
  {% endfor %}

  <input
    type="submit"
    value="Submit Request"
    class="bg-primary text-white p-2 my-3"
  />
</form>
{% endblock page_content %}
