{% extends "base.html" %} 
{% block page_content %}
<h1>Delegated Events</h1>
<style>
table, th, td {
  border: 1px solid black;
}
th, td {
    padding: 5px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<table border="1px solid black">
    <tr>
        <th>Title</th>
        <th>State</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Creator</th>
        <th>Approver</th>
        <th>Url</th>
    </tr>
    {% for event in object_list %}
        <tr>
            <td>{{event.title}}</td>
            <td>{{event.getStateAsString}}</td>
            <td>{{event.getStartLocalized|date:"c"}}</td>
            <td>{{event.getEndLocalized|date:"c"}}</td>
            <td>{{event.getCreatorName}}</td>
            <td>{{event.getApproverName}}</td>
            <td><a href={{event.getUrl}}>Details</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}