{% extends "base.html" %}
{% block page_content %}

<!--Only allow editing before voting opens-->
<!--Only allow validating after closing-->
<h6>Resolution: {{ object.name }}</h6> <br>
<p>
    Author: {{ object.author }} <br>
    Text URL:<a href="{{ object.textUrl }}">{{ object.textUrl }}</a><br>
    Voting Open: {{ object.votingOpenLocalizedStr }}<br>
    Voting Close: {{ object.votingCloseLocalizedStr }}<br>
    Is Open: {{ object.isOpenStr }} <br>
    Last Validated: {{ object.whenLastValidatedStr }} <br>
    Status: {{ object.status }} <br>
    Aye: {{ object.lastValidatedCountYes }} <br>
    Nay: {{ object.lastValidatedCountNo }}<br>
    Abstain: {{ object.lastValidatedCountAbstain }}<br>
</p>
<br>
<br>
{% if object.isEditable %}
<h6><a href="{% url 'resolution-edit' object.id %}">Edit</a></h6>
{% else %}
<h6>Resolutions are only editable before voting opens.</h6>
{% endif %}
<br>
<br>
{% if object.canValidate %}
<h6><a href="{% url 'resolution-results' object.id %}">Results</a></h6>
{% else %}
<h6>Results can only be viewed after voting has closed.</h6>
{% endif %}
{% endblock page_content %}
