{% extends "base.html" %}
{% load navigation_tags %}
{% block breadcrumbs %}{% url 'delegated-event-list' as parentToolUrl %}{% breadcrumbs parentLabel="Delegated Events" parentUrl=parentToolUrl currentLabel="Not authorized" %}{% endblock breadcrumbs %}
{% block page_content %}
<div class="page-card page-card-narrow">
  <h1 class="page-title">Not authorized</h1>
  <div class="alert alert-error">You do not have authorization to approve event requests for {{ owner }}.</div>
</div>
{% endblock page_content %}
