{% extends "base.html" %}
{% load navigation_tags %}
{% block breadcrumbs %}{% url 'delegated-event-list' as parentToolUrl %}{% breadcrumbs parentLabel="Delegated Events" parentUrl=parentToolUrl currentLabel="Conflict" %}{% endblock breadcrumbs %}
{% block page_content %}
<div class="page-card max-w-2xl">
  <h1 class="page-title">Schedule conflicts found</h1>
  <div class="alert alert-error">The event could not be published due to the following <b>unresolveable</b> conflicts.</div>
  {% include "tools/common/conflictList.html" %}
</div>
{% endblock page_content %}
